<% if logged_in? %>
<h1 style="color: wheat">Update profile</h1>

<div class="row edit">
  <div class="col-md-6 col-md-offset-3">
    <h2 style="color: gold"><%= @staff.name %></h2>
    <%= form_for(@staff) do |f| %>
  	 <%= render 'shared/error', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :position %>
      <%= f.text_field :position, class: 'form-control' %>
      
      <%= f.label :status %>
      <%= f.text_field :status, class: 'form-control' %>

      <%= f.label :gender %>
      <%= f.text_field :gender, class: 'form-control' %>

      <!-- <%= select("@staff", "department_id", Department.all.collect {|d| [ d.name, d.id ] }, { include_blank: false }) %> -->
      <%= f.select :department_id, Department.all.collect { |p| [ p.name, p.id ] }, include_blank: false %>

      <%= f.label :out , "Not Out"%>
      <%= f.radio_button :out, "0" %>
      
      <%= f.label :out , 'Out' %>
      <%= f.radio_button :out, "1" %>
      
      <br>
      <%= f.submit "SAVE CHANGE", class: "btn btn-primary" %>
      <%= link_to "DELETE", @staff, method: :delete,data: { confirm: "You sure?" }, class: "btn btn-danger", style: "margin-left: 10px;width: 130px" %>
    <% end %>

    <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"/>
    
  </div>
</div>
<% else %>
    <%= flash.now[:danger] = "Use Must Login As Admin To Edit The Staff" %>
    <button style="margin-left: 20%" class="btn btn-warning" id="back"> Back? </button>
    <button class="btn btn-warning" id="login"> Login? </button>
<% end %>
<script>
   $(function(){
      $('#back').on('click', function(){
          window.history.back();
      });
      $('#login').on('click', function(){
          window.location.href = "<%= request.base_url %>" + "/login";
      });
   });
</script>