<div class="wrapper row2">
  <main id="container" class="clear"> 
    <!-- container body --> 
    <!-- ########################################################################################## -->
    <div id="" class="clear">
      <%= will_paginate @staffs, :style => 'margin-left: 36%' %>
        <table data-id="<%= @department.name %>" class="table" id="acrylic">
  <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Status</th>
      </tr>
    </thead>

    <% if @department.staffs.any? %>
      
      <tbody>
       <%= render @staffs %>
      </tbody>
      
    <% end %>
</table>
<%= will_paginate @staffs, :style => 'margin-left: 36%' %>
    </div>
  </main>
</div>







<div style="display: none;" id="orderModal" class="modal" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
      <h2>Staff Detail</h2>
    </div>
    <div class="modal-body" id="orderDetails">
         
    </div>
    <div class="modal-footer">
      
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>

<script>
  $(function() { 
  $('#orderModal').modal({
        keyboard: true,
        show:false,
    });

  
  var longpress = 500;
  
  var start;

  $(".table").find('tr[data-id]').on( 'mousedown', function( e ) {
      start = new Date().getTime();
  } );
    
  $(".table").find('tr[data-id]').on( 'mouseleave', function( e ) {
        start = 0;
    } );
    
  $(".table").find('tr[data-id]').on( 'mouseup', function( e ) {
      if ( new Date().getTime() >= ( start + longpress )  ) {
          $('#orderModal').attr('style', 'display: none !important');
  
    var kid_id = $(this).data('id');
    $.getJSON("/staffs/" + kid_id, function(data) {
        var tr_id = "tr[data-id = "+ data.id +"]";
    window.location.href = "<%= request.base_url %>" + $(".table").find(tr_id).data("link");
    
  
  });

      } else {
     
    $('#orderDetails').attr('style', '');
    
    var kid_id = $(this).data('id');
    $.getJSON("/staffs/" + kid_id, function(data) {

    $('.modal-backdrop').remove();
      $('#orderDetails').html('<%= j render 'modal'%>');
    var dp = $(".table").data('id');
    $('#name').html($('<span>'+ data.name + '</span>'));
    $('#depart').html($('<span>'+ dp + '</span>'));
    $('#email').html($('<a href="mailto:'+data.email+ '">'+data.email+'</a>'));
    $('#address').html($('<span>'+ data.address + '</span>'));
    $('#phone').html($('<span>'+ data.phone + '</span>'));
    $('#gender').html($('<span>'+ data.gender + '</span>'));
    $('#created-at').html($('<span>'+ data.created_at + '</span>'));
    $('#modal').modal('show');
  });

      }
  } );

});
</script>


