@import "bootstrap-sprockets";
@import "bootstrap";

footer, header {
	font-family: 'Open Sans',sans-serif;

}

footer {
	background-color: #2b2b2b;
	color: #858899;
}

footer h2 {
	color: #e6e6e6;
}

footer #footer-head ul {
	list-style-type: none;
}

.copy {
	background-color: #121212;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 0px;
}

.copy .copy-left {
	font-size: 10px;
}

.copy .copy-right ul {
	list-style-type: none;
	padding-left: 330px;
}

.copy .copy-right ul li {
	font-size: 20px;
	display: inline;
	margin-right: 20px;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

tr:hover, tr:focus{
	cursor: pointer;	
}

.dropdown-menu{
    width: 700px !important;
    margin-left: -300px;
    top: 10% !important;
}

.col-md-6 input{
    width: 400px;
}

body {
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #1B7B81),
    color-stop(1, #4A266E)
);
background-image: -o-linear-gradient(bottom, #1B7B81 0%, #4A266E 100%);
background-image: -moz-linear-gradient(bottom, #1B7B81 0%, #4A266E 100%);
background-image: -webkit-linear-gradient(bottom, #1B7B81 0%, #4A266E 100%);
background-image: -ms-linear-gradient(bottom, #1B7B81 0%, #4A266E 100%);
background-image: linear-gradient(to bottom, #1B7B81 0%, #4A266E 100%);
}


table#acrylic {
            border-collapse: separate;
            background: #fff;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            margin: 50px auto;
            -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }
        
        #acrylic thead {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
        
        #acrylic thead th {
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
            text-align: left;
            padding: 20px;
            background-size: 100%;
            background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
            background-image: -moz-linear-gradient(#646f7f, #4a5564);
            background-image: -webkit-linear-gradient(#646f7f, #4a5564);
            background-image: linear-gradient(#646f7f, #4a5564);
            border-top: 1px solid #858d99;
        }
        
        #acrylic thead th:first-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        
        #acrylic thead th:last-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        
        #acrylic tbody tr td {
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            color: #5f6062;
            font-size: 13px;
            padding: 20px 20px 20px 20px;
            border-bottom: 1px solid #e0e0e0;
        }
        
        #acrylic tbody tr:nth-child(2n) {
            background: #f0f3f5;
        }
        
        #acrylic tbody tr:last-child td {
            border-bottom: none;
        }
        
        #acrylic tbody tr:last-child td:first-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        
        #acrylic tbody tr:last-child td:last-child {
            -moz-border-bottom-right-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        
        #acrylic tbody:hover > tr td {
            
            opacity: 0.5;
        }
        
        #acrylic tbody:hover > tr:hover td {
            text-shadow: none;
            color: #2d2d2d;
            
            opacity: 1;
            transition: 0.2s all;
        }
        
.edit label {
    color: burlywood;
}

.loginform label{
    color: burlywood;
}