<footer style="clear: both;">
		<div class="container" id="footer-head">
			<div class="rows">
				<div class="col-md-4">
					
					<ul>
						<li><h2>Our Company</h1></li>
						<li>About us</li>
						<li>About us</li>
						<li>About us</li>
						<li>About us</li>
						<li>About us</li>
					</ul>
				</div>
				<div class="col-md-4">
					
					<ul>
						<li><h2>Our Service</h2></li>
						<li>About us</li>
						<li>About us</li>
						<li>About us</li>
						<li>About us</li>
						<li>About us</li>
					</ul>
				</div>	
				<div class="col-md-4">
					<ul>
						<li><h2>Our Contact</h2></li>
						<li>5252 E Walnut Ave, Orange, California, United States.</li>
						<li>hello@construction.me +62 (0) 274 441 5005</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy rows">
			<div class="container">
				<div class="copy-left col-md-6">
				<p>COPYRIGHT &copy 2016 <span style="font-weight: bold; color: #e67e22">TEMPLATENINJA</span>. ALL RIGHT RESERVED.</p>
				</div>
				<div class="copy-right col-md-6">
					<ul style="padding-left: 300px;">
						<li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
						<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
						<li><i class="fa fa-youtube" aria-hidden="true"></i></li>
						<li><i class="fa fa-instagram" aria-hidden="true"></i></li>
					</ul>
				</div>
			</div>
		</div>
</footer>