<script>
  $(document).ready(function(){
    //Handles menu drop down
    // $('.dropdown-menu').find('form').click(function (e) {
    //     e.stopPropagation();
    // });

    $('.dropdown-toggle').dropdown();
});
</script>
<div class="wrapper row1"> 
  <!-- ################################################################################################ -->
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo">
      <h1><%= link_to "Home Page", root_path %></h1>
      <p>Company Sell Onion</p>
    </div>
    <nav>
      <ul class="clear">
        <li class="active"><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
        <li class="dropdown">
                     <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">Add Staff <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <%= render 'staffs/form' %>
                        </li>
                     </ul>
        </li>
        <li><a class="drop" href="#">Account</a>
          <ul>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <%end%>
      </ul>
    </nav>
    <!-- ################################################################################################ --> 
  </header>
  <!-- ################################################################################################ -->
  <div id="slider" class="jcarousel-wrapper">
    <div id="slider_content" class="jcarousel">
      <ul>
        <li>
          <figure><a href="#"><img src="/assets/1.png" alt="" ></a>
            <figcaption>
              <h2>Cursus penati saccum nulla.</h2>
              <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo&hellip;</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure><a href="#"><img src="/assets/2.png" alt=""></a>
            <figcaption>
              <h2>Cursus penati saccum nulla.</h2>
              <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo&hellip;</p>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure><a href="#"><img src="/assets/3.png" alt=""></a>
            <figcaption>
              <h2>Cursus penati saccum nulla.</h2>
              <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat adipiscinia pellentum leo&hellip;</p>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <!-- Previous Next --> 
    <a href="#" id="featured-item-prev" class="jcarousel-control-prev">&laquo; Previous</a> <a href="#" id="featured-item-next" class="jcarousel-control-next">Next &raquo;</a> 
    <!-- / Previous Next --> 
  </div>
  <!-- ########################################################################################## --> 
</div>

        
  
