<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'jquery.grayscale.js' %>
    <%= javascript_include_tag 'jquery.jcarousel.pack.js' %>
    <%= javascript_include_tag 'jquery.jcarousel.setup.js' %>


    <%= render 'layouts/shim' %>
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    
    	<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      	<%= yield %>
    
    
    <div style="clear: both;">
      <%= render 'layouts/footer' %>
  </div>
  </body>
  
</html>